body{
    margin:0;
    overflow:hidden;
}

#social{
    position:fixed;
    right:15px;
    top:50%;
    transform:translateY(-50%);

    display:none;
    flex-direction:column;
    gap:15px;

    z-index:99999;
}

#social img{
    width:70px;
    height:70px;
    border-radius:15px;
}